body {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
}

.main-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    align-items: center;
}

form {
border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}



.container {
  padding: 16px;
}

.button-href {
      display: inline-block; /* Makes the <a> behave like an inline button */
      padding: 10px 20px; /* Add space inside the button */
      font-size: 16px; /* Adjust text size */
      font-weight: bold; /* Make text bold */
      text-align: center; /* Center the text */
      text-decoration: none; /* Remove underline */
      color: white; /* Text color */
      background-color: #007bff; /* Button color */
      border: none; /* No border */
      border-radius: 5px; /* Rounded corners */
      cursor: pointer; /* Pointer cursor on hover */
      transition: background-color 0.3s ease; /* Smooth hover effect */
    }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
