<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Регистрация</h2>

    <form action="/login" method="post">
        <div>
            <label><b>ФИО</b></label>
            <input type="text" name="fio" placeholder="Введите ФИО">

            <label><b>Ваш адрес</b></label>
            <input type="text" name="address" placeholder="Введите адрес">

            <label><b>Номер телефона</b></label>
            <input type="text" name="phone" placeholder="Введите номер">

            <label><b>Почта</b></label>
            <input type="text" name="mail" placeholder="Введите почту">

            <label><b>Пароль</b></label>
            <input type="password" name="password" placeholder="Введите пароль">

            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
</body>
</html>