<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/rent_pages.css">
</head>
<body>
    <div class="section-start-top">
        <div class="section-start-top-brand">
            <a href="/" class="section-start-top-brand__name">RentSpace</a>
        </div>
        <div class="section-start-top-options">
            <div class="section-start-top-options-pages">
                <a href="/rentcreate" class="section-start-top-options-pages__text">Создать карточку аренды</a>
            </div>
            <div class="section-start-top-options-login">
                {% if flag == 1 %}
                  <a href="/logout" class="section-start-top-options-pages__text">Выход</a>
                  <a href="/user" class="section-start-top-options-login__text">Личный кабинет</a>
                {% else %}
                  <a href="/login" class="section-start-top-options-pages__text">Вход</a>
                  <a href="/register" class="section-start-top-options-pages__text">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Информация о аренде</h1>
        <div class="image-border">
            <img class="image" src="../static/photo/{{ photo.photo_id }}.png" style="width:400px;height:400px;" >
        </div>
        <b>Название: {{rent.name}}</b>
        <b>Цена: {{rent.price}}</b>
        <b>Место: {{rent.address}}</b>
        <b>Описание: {{rent.description}}</b>
    </div>
    <div class="container">
        <h1>Информация о арендодателе</h1>
        <b>Арендатор: {{user.fio}}</b>
        <b>Номер: {{user.phone_number}}</b>
        <b>Телеграмм: {{user.telegram}}</b>
    </div>
</body>
</html>