<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/css/font.css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
</head>
<body>
    <div class="section-start-top">
        <div class="section-start-top-brand">
            <span class="section-start-top-brand__name">Система создания отчетов</span>
        </div>
        <div class="section-start-top-options">
            <div class="section-start-top-options-pages">
                <a href="/listCreate" class="section-start-top-options-pages__text">Создать отчет</a>
                <a href="/admin" class="section-start-top-options-pages__text">Админка</a>
                <a href="/login" class="section-start-top-options-pages__text">Вход</a>
                <a href="/logout" class="section-start-top-options-pages__text">Выход</a>
            </div>
            <div class="section-start-top-options-login">
                <a href="/table" class="section-start-top-options-login__text">Просмотр таблицы</a>
            </div>
        </div>
    </div>
</body>
</html>